<p id="notice"><%= notice %></p>

<p>
  <strong>Game week:</strong>
  <%= @nfl_weather.game_week %>
</p>

<p>
  <strong>Game date:</strong>
  <%= @nfl_weather.game_date %>
</p>

<p>
  <strong>Home team:</strong>
  <%= @nfl_weather.home_team %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @nfl_weather.away_team %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @nfl_weather.stadium %>
</p>

<p>
  <strong>Is dome:</strong>
  <%= @nfl_weather.is_dome %>
</p>

<p>
  <strong>Geo lat:</strong>
  <%= @nfl_weather.geo_lat %>
</p>

<p>
  <strong>Geo long:</strong>
  <%= @nfl_weather.geo_long %>
</p>

<p>
  <strong>Low:</strong>
  <%= @nfl_weather.low %>
</p>

<p>
  <strong>High:</strong>
  <%= @nfl_weather.high %>
</p>

<p>
  <strong>Forcast:</strong>
  <%= @nfl_weather.forcast %>
</p>

<p>
  <strong>Wind chill:</strong>
  <%= @nfl_weather.wind_chill %>
</p>

<p>
  <strong>Wind speed:</strong>
  <%= @nfl_weather.wind_speed %>
</p>

<p>
  <strong>Dome img:</strong>
  <%= @nfl_weather.dome_img %>
</p>

<p>
  <strong>Small img:</strong>
  <%= @nfl_weather.small_img %>
</p>

<p>
  <strong>Medium img:</strong>
  <%= @nfl_weather.medium_img %>
</p>

<p>
  <strong>Large img:</strong>
  <%= @nfl_weather.large_img %>
</p>

<%= link_to 'Edit', edit_nfl_weather_path(@nfl_weather) %> |
<%= link_to 'Back', nfl_weathers_path %>
