<div class="ui container">

  <p id="notice"><%= notice %></p>

  <h1 class="ui header">Players</h1>

  <div class="ui inverted divider"></div>

  <button class="ui primary basic button">
    <%= link_to "Import Players", nfl_players_import_path, class: "ui link" %>
  </button>

  <%= search_form_for @q do |f| %>
    <div class="ui form">
      <div class="four fields">
        <div class="field">
           
          <%= f.label :display_name_cont, "Player Name" %>
          <%= f.search_field :display_name_cont, placeholder: "Player Name" %>
        </div>
        <div class="field">
           <%= f.label :team_eq, "Team Code" %>
           <%= f.search_field :team_eq, placeholder: "Team Code" %>
        </div>
        <div class="field">
           <%= f.label :position, "Position" %>
           <%= f.search_field :position_eq, placeholder: "Position" %>
        </div>
        <div class="field">
          <label for="">&nbsp;</label>
          <%= f.submit 'Search',class: 'ui button primary' %>
        </div>
      </div>
    </div>

  <% end %>
  <%= render partial: 'list' %>

  <br>

  <%= link_to 'New Nfl Player', new_nfl_player_path %>
</div>